html {
        height: 100%;
    }
    body {
        font-family: 'Open Sans', sans-serif;
        height: 100%;
        margin: 0 auto;
    }
    .body-log {
        background-image: url('/images/1.jpg');
        -webkit-background-size: cover;
        background-size: cover;
    }
    *:focus {
        outline: none;
    }
    #container {
        margin: 20px !important;
    }
    h1 {
        font-weight: 100;
        font-size: 34px;
        display: inline-block;
    }
    h2 {} h2:after {
        content: "";
        display: block;
        width: 50px;
        margin: 9px 0;
        border-bottom: 2px solid #02D0A6;
    }
    h3 {
        font-weight: 500!important;
        color: #3C4858!important;
        margin-bottom: 30px!important;
        font-size: 30px!important;
    }

     /* ==========
     G E N E R A L   S T Y L E S
    =============== */
    .justify{
        text-align: justify;
    }

    .nodisplay{
        display: none;
    }

    .m-bottom{
        margin-bottom:20px;
    }

    .top-row{
        margin-top:20px;
    }

    img{
        width:100%;
        max-width:600px;
    }

    /* ========= 
    B U T T O N 
    ============= */
    
    .btn.btn-primary {
        background-color: rgb(33, 252, 210);
        color: rgb(255, 255, 255);
        border-color: rgb(33, 252, 192);
        margin-bottom: 40px;
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .btn.btn-primary-nav {
        background-color: rgb(33, 252, 210);
        color: rgb(255, 255, 255);
        border-color: rgb(33, 252, 192);
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .btn-nav {
        border-radius: 22px !important;
        color: #fff;
        background-color: #02D0A6;
        border-color: none;
    }
    .btn.btn-dark {
        text-transform: uppercase;
        font-weight: 400;
        background-color: rgb(39, 42, 53);
        color: rgb(255, 255, 255);
        border: none;
        margin-bottom: 40px;
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .btn.btn-dark:hover {
        background-color: rgb(33, 252, 210);
    }
    .btn.btn-dark-nav {
        text-transform: uppercase;
        font-weight: 400;
        background-color: rgb(39, 42, 53);
        color: rgb(255, 255, 255);
        border: solid 1px #fff;
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .btn.btn-dark-nav:hover {
        background-color: rgb(255, 255, 255);
        color: rgb(39, 42, 53);
    }
    .btn-blog {
        background-color: #21fcd2;
        border: none;
        margin-bottom: 40px;
        color: #fff;
        padding: 12px 30px;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    textarea:focus,
    input:focus {
        outline: none!important;
    }

    /* ==========
    P A G I N A T I O N 
    ======================== */

    .pagination>li>a,
    .pagination>li>span {
        color: rgb(39, 42, 53)!important;
        background-color: #fff;
        border: 1px solid #ddd;
        font-weight: bold;
    }
    .pagination>.active>span {
        color: #fff !important;
        background-color: rgb(39, 42, 53)!important;
    }

    /* ========= 
    N A V B A R 
    ============= */
    
    .navbar {
        border-radius: 0px!important;
        margin-bottom: 0 !important;
    }
    .navbar-top {
        top: 0!important;
        border-width: 0 0 1px;
        padding-bottom: 40px;
    }
    .navbar-default {
        border-color: none !important;
        background-color: #fff !important;
    }
    .navbar-content {
        margin-top: 0 !important;
        background: #272A35!important;
        border-color: none;
    }
    .fa-lock {
        margin: 0 10px;
    }
    .nav >li {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        float: none;
    }
    .nav--user >a {
        color: #272a35!important;
        font-style: italic;
        text-transform: capitalize !important;
        margin-top: 2px;
    }
    .nav-user-top >li >a {
        color: #272a35!important;
    }
    .nav-user-top >a:hover {
        border: none !important;
    }
    .nav-user-top >li>a.sprite {
        padding: 10px 10px!important;
    }
    .nav-user-top>li>a .sprite {
        padding: 10px 10px!important;
    }
    .espace-user-admin:after {
        content: "";
        display: block;
        width: 50px;
        margin: -9px auto 0;
        border-bottom: 2px solid #F57E5C;
    }
    .espace-user-eleve:after {
        content: "";
        display: block;
        width: 50px;
        margin: -9px auto 0;
        border-bottom: 2px solid #21fcd2;
    }
    .navbar-nav >li >a {
        color: #fff;
        font-weight: 400;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .navbar-nav >li >a:hover {
        display: block!important;
        border-bottom: 2px solid #fff!important;
        text-decoration: none;
        background-color: transparent !important;
    }
    .navbar-left >li >a:hover {
        display: block;
        border-bottom: 2px solid #fff;
        text-decoration: none;
        background-color: transparent !important;
    }
    .navbar-nav,
    .navbar-rs >a:hover {
        display: inline-block;
        border-bottom: none;
    }
    .navbar-footer {
        background-color: #2A3A4B;
        color: #fff;
        font-weight: 400;
        font-size: 12px !important;
    }
    .navbar-footer >li >a {
        color: #fff;
        font-weight: 200;
    }
    .navbar-footer >li >a:hover {
        color: #fff;
        background: transparent !important;
        border: none;
    }
    .footer {
        margin-top: 20px;
        color: #fff;
    }

    footer {
        margin-top: 20px;
        color: #f2f2f2;
        background-color: #21EEC8;
        padding: 5px;
        font-weight: 700;
    }
    .fb:hover {
        -webkit-transition: all .1s ease;
    }
    .sprite {
        background-image: url('/images/rs.png');
        background-repeat: no-repeat;
        display: block;
    }
    .sprite-facebook {
        width: 30px;
        height: 30px;
        background-position: -5px -5px;
    }
    .sprite-twitter {
        width: 30px;
        height: 30px;
        background-position: -45px -5px;
    }
    .brandbanner {
        background-image: url('/images/brand-ban.png');
        width: 142px;
        height: 108px;
        display: inline-block;
        vertical-align: middle;
    }
    .glyphicon-search {
        color: #fff!important;
    }

    .log-menu-collapse{
        background-color: #2e6da4;
        color:#fff;
        padding:25%;
        border-radius: 7px;
        text-transform: uppercase;
    }
    /* ===========
    F O R M && P A N E L 
    =============*/
    
    .panel-log .contact-form {
        padding: 20px!important;
    }
    .form-search {
        color: #838ba4!important;
        box-shadow: none !important;
        border: none !important;
        background-color: transparent !important;
    }
    .form-search::-webkit-input-placeholder {
        color: #fff!important;
    }
    .form-group {
        position: relative!important;
    }
    textarea.form--lab--textarea {
        border: none;
        content: '';
        color: #afafaf;
        top: 0;
        left: 0;
        width: 100%;
        border: 1px solid #B9C1CA;
        padding: 10px !important;
        background: transparent;
    }
    .panel-log {
        /*background-color: white;*/
        
        background-color: rgba(255, 255, 255, 0.7);
        padding: 10px 5%;
        color: #2C314E;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #e5e5e5;
    }
    .contact-form a {
        color: #838ba4!important;
    }
    .contact-form a:hover {
        color: #272A35!important;
    }
    .input--lab {
        overflow: hidden;
    }
    .input__field--lab {
        margin-top: 1em;
        padding: 0.85em 0.15em;
        width: 100%;
        background: transparent;
        color: #afafaf;
        border: none;
        font-weight: 200;
        margin-bottom: 10px;
    }
    .input__label--lab {
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 50px 1.25em;
        width: 100%;
        text-align: left;
        pointer-events: none;
        overflow: hidden!important;
        box-shadow: none;
    }
    .input__label-content--lab {
        position: absolute;
    }
    .input__label--lab::before,
    .input__label--lab::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(100% - 10px);
        border-bottom: 1px solid #B9C1CA;
    }
    .input__label--lab::after {
        margin-top: 2px;
        border-bottom: 4px solid rgb(33, 252, 210);
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
    }
    .error {
        color: #ff746a;
        font-weight: 400;
    }
    .input--lab--admin {
        /*color: #838ba4!important;*/
        
        color: #272A35!important;
        font-weight: 400;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }
    .form-admin-texterea {
        content: '';
        color: #afafaf;
        border: 2px solid rgb(33, 252, 210);
        background: transparent;
        display: block;
        width: 100%;
        height: 100px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: none;
    }
    .form-admin-input {
        display: block;
        width: 100%;
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #fff;
        background-image: none;
        color: #afafaf;
        border: 2px solid rgb(33, 252, 210);
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
        box-shadow: none;
        text-transform: uppercase;
    }
    /* ========= 
    B A N N E R
    ============= */
    
    .jumbotron h1 {
        color: inherit;
        line-height: 1.0;
    }
    .jumbotron .jumbotron-single {
        background: transparent!important;
        color: inherit;
    }
    .jumbotron{
        padding-top: 0 !important;
        background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #3255b6), color-stop(100%, #4bc5e1));
        background: -webkit-linear-gradient(-45deg, #3255b6 0%, #4bc5e1 100%);
        background: -webkit-linear-gradient(315deg, #3255b6 0%, #4bc5e1 100%);
        background-color: #21FCD2;
        background-size: cover;
    }
    .item-jumbotron {
        background-image: url('/images/item-banner.png');
        background-repeat: no-repeat;
        width: 500px;
        height: 296px;
        transform: translateY(8px);
    }
    .jumbotron-home {
        padding: 0 !important;
        overflow: hidden;
        margin-bottom: -50px !important;
        background: -webkit-gradient(linear, top, bottom, color-stop(0%, #21fcd2), color-stop(100%, #239f8d));
        background: -webkit-linear-gradient(-90deg, #21fcd2 0%, #239f8d 100%);
        background: -webkit-linear-gradient(-90deg, #21fcd2 0%, #239f8d 100%);
        background-size: cover;
    }

    /* =======
    F O O T E R
    ============= */
    .footer{
        background-color: #272A35;
    }

    /* =======
    S I N G L E
    ============= */
    /* ***** Home page **** */
    
    .thumbnail {
        display: block;
        padding: 4px;
        background-color: white;
        color: #2C314E;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
        border: 1px solid #e5e5e5;
        margin-top: 10px !important;
        margin-bottom: 40px !important;
    }
    .thumbnail-comments{
        height: 400px !important;
        width: auto;
        overflow: auto !important;
        -webkit-overflow-scrolling: touch;
    }
    .flux-warrior {
        font-weight: bold;
    }
    .flux {
        font-weight: 200;
    }
    .item-top {
        display: inline-block;
        vertical-align: top;
        height: auto;
        border-bottom: 1px solid #fff;
        white-space: nowrap;
        font-size: 0rem;
        width: 300px;
    }
    .top-color1 {
        background-color: #21fcd2;
    }
    .top-color2 {
        background-color: #18d6b2;
    }
    .top-color3 {
        background-color: #0fb797;
    }
    .top-count {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        width: 42px;
        text-align: center;
        color: #fff;
        font-size: 20px;
        padding: 30px;
        transition: margin .1s ease;
    }
    .top-count:hover {
        width: 48px;
        font-size: 25px;
        padding-top: 25px;
        margin-left: calc(-100%+84px);
        transition: margin .1s ease;
    }
   .top-content {
        display: inline-block;
        vertical-align: top;
        height: 100%;
        padding: 15px 8px;
        background-color: #fff;
        max-width: 200px;
        overflow: hidden;
        word-wrap: break-word; 

    }
    .top-content h4 {
        width: 200px;
        overflow: hidden;
        text-overflow: ellipsis; 
        webkit-hyphens: auto;
    }

    .top-content h4 a{
       color:#000;

    }
    .team .team-player img {
        max-width: 170px;
    }
    .img-raised {
        box-shadow: rgba(0, 0, 0, 0.560784) 0px 16px 38px -12px, rgba(0, 0, 0, 0.117647) 0px 4px 25px 0px, rgba(0, 0, 0, 0.2) 0px 8px 10px -5px;
    }
    .team .team-player .title {
        margin: 30px auto;
    }
    .title {
        font-weight: 500;
        color: #3C4858;
        margin-bottom: 30px;
    }
    .description {
        color: #3C4858;
        font-weight: 200;
    }

    .pair{
        background-color: #f2f2f2 !important;
    }

    /* ******* single ***** */
    
    .single-heading-search {
        font-weight: 100;
    }
    .single-list-search ul {
        list-style: none;
    }
    .single-list-search a {
        text-decoration: none;
        color: #838ba4!important;
    }
    .single-list-search a:hover {
        color: #272A35!important;
    }
    /* **** Details ***** */
    
    .single-quote {
        color: #a1a4aa;
        font-style: italic;
        font-weight: 100;
    }
    .single-quote-date {
        color: #272A35!important;
        font-weight: 100;
    }

    .img-center{
        display: block;
        margin:auto;
    }

    .comment-author{
        text-align: left;
        font-size:11px;
    }

    .comment-content{
        text-align: justify;
        font-size:14px;
        color:#000;
    }

    .teacher{
        color:#ff4437;
        font-weight: 700;
    }

    .student{
        color:#E2BA3D;
         font-weight: 700;
    }

    /* **** Mentions pages ***** */
    
 /*   .header--center h2 {
        margin-bottom: 45px;
    }
    .header--center {
        margin-bottom: 0;
        text-align: center;
        z-index: 2;
        float: left;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        position: relative;
        width: 100%;
    }*/
    .mentions-list {
       margin-top:30px;
    }
    .tabs-menu {
        border-bottom: 1px solid #e1e2e4;
        margin-bottom: 20px;
        padding-bottom: 5px;
        padding-left: 0;
        width: 100%;
    }
    .tabs-menu li {
        display: inline;
        line-height: 1.25;
        list-style-type: none;
        margin-right: 30px;
        padding-bottom: 6px;
        transition: color .15s;
    }
    .tabs-menu li:hover {
        position: relative;
    }
    .tabs-menu li:hover:after {
        background-color: #21fcd2;
        height: 3px;
    }
    .tabs-menu li:hover a {
        color: #676d76
    }
    .tabs-menu li:after {
        background-color: transparent;
        bottom: -3px;
        content: '';
        height: 0;
        left: 0;
        position: absolute;
        transition: all .15s ease;
        width: 100%;
    }
    .tabs-menu li:last-child {
        margin-right: 0;
    }
    .tabs-menu li.is-active {
        border-bottom: 3px solid #ff6d92;
    }
    .tabs-menu li.is-active a {
        color: #1b2432;
    }
    .tabs-menu li.is-active:hover:after {
        background-color: transparent;
        height: 0;
    }
    .tabs-menu li a {
        color: #a1a4aa;
        text-decoration: none
    }
    .tabs-menu li a:hover {
        border-bottom: none;
        color: #272A35!important;
    }
    .tab {
        float: left;
        width: 100%;
    }
    .tabs--centered .tabs-menu {
        text-align: center
    }
    .tab-content>.tab-pane {
        display: block!important;
    }
    /* ========
    T W I T T E R 
    =========== */
    
    .live-bull {
        width: 100%;
    }
    .large-bull {
        padding-left: 0;
        padding-right: 0;
    }
    .bull-twitter {
        color: #009fe3 !important;
    }
    .live-bull {
        /*    padding-left: 85px;*/
        
        margin-top: 5px;
        margin-bottom: 10px;
        color: #e91845;
        float: left;
    }
    .live-narrow .large-bull .live-bull-content {
        margin-bottom: 10px;
    }
    .large-bull .live-bull-content {
        margin-bottom: 20px;
    }
    .live-bull-content {
        position: relative;
        min-height: 60px;
        background-color: currentColor;
    }
    .live-bull-content a {
        color: #fff!important;
    }
    .large-bull .live-bull-content::before {
        top: auto;
        left: 80px;
        bottom: -20px;
        border-width: 20px 20px 0 0;
        border-color: currentColor transparent transparent transparent;
    }
    .live-bull-content::before {
        content: '';
        display: block;
        position: absolute;
        top: 20px;
        left: -20px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 20px 20px 0;
        border-color: transparent currentColor transparent transparent;
    }
    .live-narrow .live-bull-message {
        font-size: 1.1em;
        line-height: 1.3em;
    }
    .large-bull .live-bull-message {
        font-size: 1.1em;
        line-height: 1.35em;
    }
    .live-content p,
    .live-content h3:last-child {
        margin-bottom: 15px;
    }
    .live-bull-message {
        display: block;
        padding: 12px 15px 0;
        font-size: 1.25em;
        line-height: 1.2em;
        color: #fff;
    }
    .live-bull-data {
        position: relative;
        z-index: 1;
    }
    .live-bull-data {
        border-top: 1px dashed rgba(255, 255, 255, 0.5);
        padding: 10px 15px 7px;
        font-size: .95em;
        line-height: 1.4em;
        color: #fff;
    }
    .live-bull-info {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 7px;
    }
    .live-bull-button {
        display: inline-block;
        text-transform: uppercase;
        font-size: .8em;
        line-height: 1.2em;
        margin-bottom: 7px;
    }
    /* ==========
      T I M E L I N E 
    =============== */
    
    .top--timeline {
        margin-top: 20px;
    }
    .timeline-label-date {
        background-color: #eee966;
        padding: 6px;
        color: #272a35;
        text-transform: uppercase;
        font-weight: 200;
    }
    .timeline-label-quote {
        color: #a5afb7!important;
        font-weight: 400;
    }
    .top--timeline .list-group {
        padding-left: 0;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .text-justify {
        text-align: justify;
        color: #a5afb7!important;
    }

    .nopost{
        background-color: #21F7CE;
        color:#fff;
        font-weight: 700;
        padding:5%;
        font-size:20px;
        text-align: center;
    }
    /* ==========
     SEARCH FORM
    =============== */
    
    input[name="search"]:focus::-webkit-input-placeholder {
        color: transparent !important;
    }
    input[name="search"]:focus:-moz-placeholder {
        color: transparent !important;
    }
    /* FF 4-18 */
    
    input[name="search"]:focus::-moz-placeholder {
        color: transparent !important;
    }
    /* FF 19+ */
    
    input[name="search"]:focus:-ms-input-placeholder {
        color: transparent !important;
    }
    /* IE 10+ */
    /* ==========
    M A R G I N 
    =============== */
    
    .m-bottom {
        margin-bottom: 40px;
    }
    .padleft {
        margin-left: 20px;
    }
    /* ================
    A N N I M A T I O N 
    =================== */
    
    .input__field--lab:focus + .input__label--lab::after,
    .input--filled .input__label--lab::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .input__field--lab:focus + .input__label--lab .input__label-content--lab,
    .input--filled .input__label-content--lab {
        -webkit-animation: anim-1 0.3s forwards;
        animation: anim-1 0.3s forwards;
    }
    @-webkit-keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }
        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -40%, 0);
            transform: translate3d(-1em, -40%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
        }
    }
    @keyframes anim-1 {
        50% {
            opacity: 0;
            -webkit-transform: translate3d(1em, 0, 0);
            transform: translate3d(1em, 0, 0);
        }
        51% {
            opacity: 0;
            -webkit-transform: translate3d(-1em, -40%, 0);
            transform: translate3d(-1em, -40%, 0);
        }
        100% {
            opacity: 1;
            -webkit-transform: translate3d(0, -40%, 0);
            transform: translate3d(0, -40%, 0);
        }
    }
    /* ================
    @media
    ==================*/
     @media (max-width: 1600px) {
     .item-jumbotron {
        width: 585px !important;
        -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
        animation-duration: 2s;
        -webkit-animation-timing-function:ease-in;
        -moz-animation-timing-function:ease-in;
        -ms-animation-timing-function:ease-in;
        -o-animation-timing-function:ease-in;
        animation-timing-function:ease-in
        }
        .jumbotron p {
            font-size: 23px !important;
            text-transform: uppercase !important;
            letter-spacing: 2px !important;
        }
        .jumbotron h1 {
            margin-top: 35px!important;
        }
            }
      @media (max-width: 1300px) {
     .jumbotron p {
            font-size: 21px !important;
            text-transform: lowercase !important;
            letter-spacing: 2px !important;
        }
        .jumbotron p::first-letter{
            text-transform: capitalize!important;
        }
    }
     @media (max-width: 1200px) {
     .item-jumbotron {
        width: 500px !important;
        }
    }
     @media (max-width: 992px) {
        .item-jumbotron {
            display: none;
        }
        .jumbotron-home {
            margin-bottom: 0px !important;
        }
    }

    @media (min-width: 960px) {
        .tabs--select {
            display: none;
            visibility: hidden
        }
        .tab-pane:target {
            display: block
        }
        .tab-pane>h2:first-of-type {
            margin-top: 0
        }
    }
   